.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}


.header__navbar {
    display: flex; 
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;;
}

.header__navbar-item {
    margin: 0 8px; 
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--seperate::after {
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}