.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}


.header__navbar {
    display: flex; 
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;

}

.header__navbar-item {
    margin: 0 8px; 
    position: relative;
    min-height: 17px; 
    
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover  {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--seperate::after {
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 5px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none; 
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%; 
    height: 20px;
    content: "";
    display: block; 
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header_qr-download-img {
    height: 14px;
}

/* Header notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 17px 35px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -23px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 100px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    display: flex;
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    height: 40px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
}

.auth-form__container {
    padding: 0 32px;
}
 
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 8px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;    
}
.auth-form__controls-back {
    margin-right: 8px;
}   

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color); 
}

.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-seperate {
    display: block;
    margin: -2px 16px;
    border-left: 1px solid #EAEAEA;
    height: 22px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/*  Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;

}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 133px;
    list-style: none;
    margin-top: 15px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 22px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    margin-top: 3px;
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 38px;
    color: var(--text-color);
}